<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light py-3">
    <div class="container">
        <a href="#hero-section" class="navbar-brand" style="color: rgb(25, 21, 35);">SecretGarden</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="navbar-item">
                    <a href="#our-service" class="nav-link">Наши услуги</a>
                </li>
                <li class="navbar-item">
                    <a href="#reviews" class="nav-link">Отзывы</a>
                </li>
            </ul>

            <button class="btn btn-sm btn-dark rounded-pill">
                Зарегистрироваться
            </button>
        </div>
    </div>
</nav>